<div>
    <div ng-if="!selectedAccount">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h4>Please select an account from the menu on the left</h4>
                    <p>You can use the <strong>Add Bank</strong> button to add your accounts and start exploring your finances!</p>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

    <div ng-if="!!selectedAccount" ng-controller="DCCtrl">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{selectedBank.name}} - {{selectedAccount.display_name}}</h1>
                <div class="col-lg-6">
                    <div class="col-lg-8">
                        <h2>Transactions to {{date}}</h2>
                    </div>

                    <div class="col-lg-6" style="margin-bottom: 20px;">
                        <div class="dc-data-count" dc-chart="dataCount" dc-dimension="ndx" dc-group="all">
                            <span class="filter-count"></span>&nbsp;selected
                            out of&nbsp;<span class="total-count"></span>&nbsp;records | <a ng-click="resetAll()">Reset All</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
`                   <stats colour="success" number="New!" comments="You can now use Transferwise to send money to accounts in other currencies" type="exchange-alt"></stats>
                </div>
            </div>
        </div>

        <div class="row" style="font-size: 11px; margin-top: 20px; margin-bottom: 20px;" >
            <div class="row" style="margin-top: 20px;">
                <div dc-chart="barChart"
                        dc-name="'volumeChart'"
                        dc-width="1400"
                        dc-height="70"
                        dc-margins="{top: 0, right: 50, bottom: 20, left: 40}"
                        dc-dimension="day"
                        dc-group="volumeByDayGroup"
                        dc-x="d3.time.scale().domain([Date(2018, 8, 1), Date(2018, 9, 30)])"
                        dc-x-units="d3.time.days"
                        dc-elastic-y="true">
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row" style="padding: 15px; margin-top: 20px; height: 350px; overflow: scroll">
                <table class="table table-hover dc-data-table"
                        dc-chart="dataTable"
                        dc-dimension="dateDimension"
                        dc-group="tableGroup"
                        dc-size="1000000000"
                        dc-post-setup-chart="tablePostSetupChart">
                    <thead>
                        <tr class="header">
                            <th>Date</th>
                            <th>Description</th>
                            <th>Merchant Name</th>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                </table>
            </div>`

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-xs-6">
                    <strong style="padding-left: 90px; padding-top: 40px; display: block">Transactions by Category</strong><br />
                    <div class="col-xs-6 dc-chart" style="margin-top: 15px;"
                        dc-chart="pieChart"
                        dc-width="360"
                        dc-height="360"
                        dc-radius="180"
                        dc-dimension="category"
                        dc-group="categoryGroup">
                    </div>
                </div>


                <div class="col-xs-6">
                    <strong style="padding-left: 90px; padding-top: 40px; display: block">Day of Week</strong><br />
                    <div class="dc-chart" style="padding-left: 80px"
                        dc-chart="rowChart"
                        dc-width="360"
                        dc-height="360"
                        dc-margins="{top: 20, left: 10, right: 10, bottom: 20}"
                        dc-group="dayOfWeekGroup"
                        dc-dimension="dayOfWeek"
                        dc-ordinal-colors="['#3182bd', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb']"
                        dc-elastic-x="true"
                        dc-post-setup-chart="dayOfWeekPostSetupChart">
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="row" style=" margin-bottom: 20px;">
                <div class="col-xs-6">
                    <strong style="padding-left: 90px; padding-top: 40px; display: block">Transactions by Type</strong><br />
                    <div class="dc-chart"
                        dc-chart="pieChart"
                        dc-width="360"
                        dc-height="360"
                        dc-radius="180"
                        dc-dimension="type"
                        dc-group="typeGroup">
                    </div>
                </div>

                <div class="col-xs-6">
                    <strong  style="padding-left: 90px; padding-top: 40px; display: block">Transactions by Merchant Name</strong><br />
                    <div class="dc-chart"
                        dc-chart="pieChart"
                        dc-width="360"
                        dc-height="360"
                        dc-radius="180"
                        dc-dimension="merchant"
                        dc-group="merchantGroup">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
