<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="moneyverse_logo_small_ico_GqK_icon.ico">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/sb-admin-2.css">
    <link rel="stylesheet" href="styles/timeline.css">
    <link rel="stylesheet" href="bower_components/metisMenu/dist/metisMenu.min.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" type="text/css">
    <link href="bower_components/dcjs/dc.css" rel="stylesheet" />
    <!-- endbuild -->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="bower_components/Chart.js/Chart.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/crossfilter/crossfilter.min.js"></script>
    <script src="bower_components/dcjs/dc.js"></script>
    <script src="bower_components/angular-dc/dist/angular-dc.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>

    <script src="scripts/controllers/addBankCtrl.js"></script>
    <script src="scripts/controllers/chartsCtrl.js"></script>
    <script src="scripts/controllers/transferwiseCtrl.js"></script>
    <script src="js/sb-admin-2.js"></script>
    <!-- endbuild -->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>
    <!-- Custom CSS -->
    <!-- Custom Fonts -->
    <!-- Morris Charts CSS -->
    <!-- <link href="styles/morrisjs/morris.css" rel="stylesheet"> -->

</head>
   
    <body>

        <div ng-app="sbAdminApp">
            <div ui-view></div>

            <div ng-controller="addBankCtrl" class="modal" id="addBankModal" tabindex="-1" role="dialog" aria-labelledby="addBankModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:700px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Add your bank</h4>
                        </div>
                        <div class="modal-body" style="height:200px;">
                            <div style="margin:47px;padding-left:54px;">
                                <a ng-click="reloadWatch('truelayer')" href="https://auth.truelayer.com/?response_type=code&client_id=demoapp-zke4&redirect_uri=http://localhost:50033/TrueLayer/VerifyCode&scope=info%20accounts%20balance%20transactions&nonce=nonce&state=state&enable_mock=true" target="_blank" class="btn btn-default" style="font-size:xx-large;color:navy"><i class="fa fa-bank fa-fw"></i> TrueLayer</a>
                                <a ng-click="reloadWatch('boc')" ng-href="{{url}}" class="btn btn-default" target="_blank" style="font-size:xx-large;margin-left:10px;">
                                    <img src="Images/BankOfCyprus.png" style="width:215px;" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div ng-controller="transferwiseCtrl" class="modal" id="transferwiseModal" tabindex="-1" role="dialog" aria-labelledby="addBankModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                        </div>
                        <div class="modal-body" style="height:250px;">
                            <div ng-show="state == 'login'">
                                <a ng-href="{{url}}" class="btn btn-success" target="_blank" style="margin-top:69px;margin-left:116px;font-size:x-large;">Login with Transferwise <i class="fa fa-lock fa-fw"></i></a>
                            </div>
                            <div ng-show="state == 'targetaccount'">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#moneyverse-tab" data-toggle="tab">To another moneyverse account</a>
                                    </li>
                                    <li>
                                        <a href="#iban-tab" data-toggle="tab">Using IBAN</a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="moneyverse-tab">
                                        <from role="form">
                                            <div class="form-group" style="margin-top:24px;">
                                                <label>Select Target Account</label>
                                                <select class="form-control" ng-model="targetAccount" ng-options="value as value.display_name group by value.bank_name for (key, value) in allAccounts"></select>
                                            </div>
                                        </from>
                                        <button type="button" class="btn btn-success pull-right" style="margin-top:36px;" ng-click="state='quote';title='Select Amount'">Next</button>
                                    </div>
                                    <div class="tab-pane fade" id="iban-tab">
                                        <from role="form">
                                            <div class="form-group" style="margin-top:24px;">
                                                <label>IBAN Number</label>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </from>
                                        <button type="button" class="btn btn-success pull-right" ng-click="state='quote';title='Select Amount'">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="state == 'quote'">
                                <from role="form">
                                    <div class="form-group" style="margin-top:24px;">
                                        <label>The recipient will get this in <strong>GBP</strong></label>
                                        <input type="text" class="form-control" ng-model="amount" ng-model-options="{debounce: 1000}" ng-change="getQuote()" />
                                    </div>
                                    <div class="form-group" style="margin-top:24px;">
                                        <label>Send this amount in <strong>EUR</strong></label>
                                        <input type="text" class="form-control" ng-disabled="true" ng-model="targetAmount"/>
                                    </div>
                                </from>
                                <button type="button" class="btn btn-success pull-right" ng-click="completeTransfer()">Complete Transfer</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>

    </body>

</html>